requests==2.32.3
pandas>=2.2,<3
numpy>=2.0,<3
matplotlib>=3.9,<4
seaborn>=0.13,<1
networkx>=3.3,<4
scikit-learn>=1.5,<2
nbclient>=0.10,<1
jupyter-cache>=1.0,<2
jupyter-book>=1.0,<2
jupyterquiz>=2.0
ipywidgets>=8.0
widgetsnbextension>=4.0
ipython>=8.0
